body {

}

.login-registro {
	display: flex;
	max-width: 200px;
}

.BLogRes {
	display: block;
	margin: auto;
}

#registro {
}

#login {
}
.inpt-for-logres {
	font-size: 15px;
	border: none;
	color: rgb(60,60,60);
}

.inpt-for-logres:hover {
	color: rgb(40,40,40);
	text-shadow: 1px 1px 1px green;
}
.inpt-for-logres:active {
	outline: none;
	color: rgb(40,40,40);
	text-shadow: 1px 1px 1px lightgreen;
}
input:focus {
	outline: none;
}
